/* Responsive Stylesheet for Splash Page Clone
   Using Mobile First Media Queries

   All styles for Tablet & Desktop Devices go inside the first media query (@min-width: 768px)
   All styles strictly for large devices go inside the second media query (@min-width:1024px)

*/

@media only screen and  (min-width: 480px) {


   .header-content .btn-content > span {
      margin-right:1rem;
   }


    .flex-twitter-cards > .card-deck
    {
        max-width:75%;
    }

}


@media only screen and  (min-width: 768px) {

   /*************************
   ***** Top Section    *****
   **************************/




   .header-content > p
   {
      max-width:55%;
   }


   /*************************
   * Hanging Content Section *
   **************************/
    .hanging-box
    {
        width:100%;
    }

   .hanging-sidebar
   {
      display:block;
      width:28%;
      background-color:#f4f6f8;
      color:#1d1e1f;
      border-radius: 8px 0 0 8px;
   }

   .hanging-sidebar h4
   {
      margin:1.5rem 0 0 1.5rem;
   }

   .hanging-sidebar ul
   {
      padding:0.8rem 0 0 1.5rem;
      margin:0;

   }

   .hanging-sidebar ul li
   {
      margin-bottom:0.4rem;
   }


   .hanging-sidebar ul li.coffee
   {
      margin-bottom: 1.2rem;
   }



   /*************************
   ***** Teams Section ******
   **************************/

   .teams-content
   {
      width:90%;
      position: relative;
      left: 50%;
      transform: translate(-50%, 0);

   }

   .teams-content > h1
   {
      padding-top:5rem;
   }


   /*.teams-logos li:first-of-type
   {
      margin-right:5.5rem;
   }*/

   .teams-content ul li
   {
      margin-right:2rem;
   }

   .teams-content > .teams-list li
   {
      margin-right:5.5rem;
   }

   .teams-content > .teams-list li:first-of-type
   {
      margin-right:1rem;
      margin-left:1rem;
   }

   .teams-content > .teams-list li:last-of-type
   {
      margin-right:0;
   }

   .teams-content .teams-list li.list-culture-amp
   {
      max-width:32%;
      margin-right:0;
   }

   .teams-list
   {
      text-align:left;
   }

   .teams-list li > img
   {
      max-width:75%;
   }

   .teams-list .invision-logo
   {
      max-width:100%;
   }



  /* .teams-content ul li
   {
      max-width:100%;
   }*/

   /*************************
   ** Twitter CardsSection **
   **************************/

   #twitter-cards{
      padding: 4rem 0;
   }

   #twitter-cards .card
   {
      padding: 1.2rem 1rem 1rem;
      margin: 4rem 1rem 0 0;
   }

    .flex-twitter-cards > .card-deck
    {
        max-width:50%;
    }

   /*************************
   *** Culture AMP Section **
   **************************/

   .cultureamp
   {
      padding:5rem 0;
   }

   .amp-text
   {
      margin-top: 0;
   }

   /*************************
   ** Testimonials Section ***
   **************************/

   .testimonial-box blockquote:before
   {
      left:8%;
   }

   .content-section > div > blockquote:after,
   .content-section > div > blockquote:before
   {
      display:block;
   }

    .content-section > div > blockquote:after
    {
        right:4%;
    }

    .content-section > div > blockquote:before
    {
        left:2%;
    }

   /*************************
   ***** Plans Section    *****
   **************************/

   .plans-box .card-body > .btn-plans {
       max-width: 50%;
       justify-content: center;
   }

    .plans-box .btn-slack {
        max-width: 55%;
    }

   .btn-onboard
   {
      max-width:60%;
   }

   .content-section > div
   {
      align-self:center;
      width:85%;
   }

    .plans-middle-box,
    .onboard-box
    {
        margin-top:0;
    }

    /*************************
    **** Footer   Section ****
    **************************/

   .resources, .social
   {
      margin-top:0;
   }


}

@media only screen and  (min-width: 1024px) {

   /*.btn-content
   {
      max-width:21%;
   }*/

   .nav-visibility
   {
      display:block;
   }

   .header-content
   {
      width:80%;
      left:50%;
      transform: translate(-50%, 0);
   }

   .hanging-box
   {
      width:80%;
   }

   .hanging-main
   {
      max-width:72%;
      padding:1.4rem 1.4rem 0;
   }

    /*************************
    ***** Teams Section ******
    **************************/

   .teams-content
   {
       width:80%;
   }

    .teams-content ul li
    {
        margin-right:5rem;
    }

    .teams-content > .teams-list li:first-of-type
    {
        margin-left:2.2rem;
    }

    .teams-logos,
    .teams-list
    {
        padding: 0 0 0 3rem;
    }




    /*************************
    ** Twitter CardsSection **
    **************************/

    #twitter-cards .card {
        padding: 1.2rem 1rem 1rem;
    }



    .flex-twitter-cards > .card-deck
    {
        flex-direction: row;
        max-width:100%;
    }


    /*************************
    * People First Section  **
    **************************/
    .content-section > div
    {
        width:43%;
    }

    .content-section > div > blockquote:after
    {
        right:25.5%;
    }
    .content-section > div > blockquote:before
    {
        left:24%;
    }

    /*************************
    ***** Plans Section    *****
    **************************/
    .plans-box .btn-slack {
        max-width: 50%;
    }
}