/* Responsive Stylesheet for Splash Page Clone
   Using Mobile First Media Queries

   All styles for Tablet & Desktop Devices go inside the first media query (@min-width: 768px)
   All styles strictly for large devices go inside the second media query (@min-width:1024px)

*/

@media only screen and  (min-width: 480px) {


   .header-content .btn-content > span {
      margin-right:1rem;
   }

   .hanging-main
   {
      max-width:80%;
   }

}


@media only screen and  (min-width: 768px) {

   /*************************
   ***** Top Section    *****
   **************************/




   .header-content > p
   {
      max-width:55%;
   }


   /*************************
   * Hanging Content Section *
   **************************/

   .hanging-sidebar
   {
      display:block;
      width:28%;
      background-color:#f4f6f8;
      color:#1d1e1f;
      border-radius: 8px 0 0 8px;
   }

   .hanging-sidebar h4
   {
      margin:1.5rem 0 0 1.5rem;
   }

   .hanging-sidebar ul
   {
      padding:0.8rem 0 0 1.5rem;
      margin:0;

   }

   .hanging-sidebar ul li
   {
      margin-bottom:0.4rem;
   }


   .hanging-sidebar ul li.coffee
   {
      margin-bottom: 1.2rem;
   }



   /*************************
   ***** Teams Section ******
   **************************/

   .teams-content
   {
      width:80%;
      position: relative;
      left: 50%;
      transform: translate(-50%, 0);

   }

   .teams-content > h1
   {
      padding-top:5rem;
   }

   .teams-logos li
   {
      max-width:35%;

   }

   /*.teams-logos li:first-of-type
   {
      margin-right:5.5rem;
   }*/

   .teams-content ul li
   {
      margin-right:5rem;
   }

   .teams-content > .teams-list li
   {
      margin-right:5.5rem;
   }

   .teams-content > .teams-list li:first-of-type
   {
      margin-right:1rem;
      margin-left:2.2rem;
   }

   .teams-content > .teams-list li:last-of-type
   {
      margin-right:0;
   }

   .teams-content .teams-list li.list-culture-amp
   {
      max-width:32%;
      margin-right:0;
   }

   .teams-list
   {
      text-align:left;
   }

   .teams-list li > img
   {
      max-width:75%;
   }

   .teams-list .invision-logo
   {
      max-width:100%;
   }



  /* .teams-content ul li
   {
      max-width:100%;
   }*/

   /*************************
   *** Culture AMP Section **
   **************************/

   .cultureamp
   {
      padding:5rem 0;
   }

   .amp-text
   {
      margin-top: 0;
   }

   /*************************
   ** Testimonials Section ***
   **************************/

   .testimonial-box blockquote:before
   {
      left:8%;
   }


   /*************************
   ***** Plans Section    *****
   **************************/

   .btn-plans {
      max-width: 36%;
   }

   .btn-onboard
   {
      max-width:48%;
   }

   .content-section > div
   {
      align-self:center;
      width:43%;
   }

   /*************************
   **** Footer   Section ****
   **************************/

   .resources, .social
   {
      margin-top:0;
   }


}

@media only screen and  (min-width: 1024px) {

   /*.btn-content
   {
      max-width:21%;
   }*/

   .nav-visibility
   {
      display:block;
   }

   .header-content
   {
      width:80%;
      left:50%;
      transform: translate(-50%, 0);
   }

   .hanging-box
   {
      width:80%;
   }

   .hanging-main
   {
      max-width:72%;
      padding:1.4rem 1.4rem 0;
   }

}