/* Stylesheet for Splash Page Clone
created by Chingu Cohorts - Open-Team-3
Contributors - @curiouscc - @shyakaster - @Umii - @wozzeck

All Styles that apply to Mobile Devices go here
All Styles that would be shared by Mobile and Other Devices go here

*/


/*************************
*******Typography******
**************************/

body {
	font-family:'Medula One', cursive;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Abel', sans-serif;
}

/*************************
***** Structural Styles ***
**************************/

ul li {
  list-style: none;
}

a {
  -webkit-transition: 300ms;
  -moz-transition: 300ms;
  -o-transition: 300ms;
  transition: 300ms;
}