#plans .card-heading
{

  display:flex;
  justify-content: space-between;
  font-size:1.3rem;
  padding-bottom: 0.6rem;
  border-bottom: 1px solid #eee;
}

#plans .card-heading p {
  margin-bottom:0;
}

#plans .card-body {
  display:flex;
  margin-top:0.6rem;
  flex-direction: column;
}

#plans .card-body > p {
  margin-bottom:0.4rem;
}

.plans-box .card-body > a
{

  margin-top:0.7rem;
  display:flex;
  justify-content: center;
  color: black;
}

#plans .card-body > a > span {
  background: url("../images/slack-1.svg") no-repeat;
  background-size: contain;
  width: 30px;
  height: 20px;
  display: inline-block;

}

.plans-middle-box > .card
{
  background: linear-gradient(135deg, rgba(87,185,180,1) 0%,
          rgba(79,175,182,1) 46%, rgba(78,172,181,1) 55%,
          rgba(73,167,182,1) 78%, rgba(69,162,183,1) 81%,
          rgba(66,160,183,1) 100%);
  color:white;
}

.plans-middle-box > .card
{
  background: linear-gradient(135deg, rgba(87,185,180,1) 0%,
          rgba(79,175,182,1) 46%, rgba(78,172,181,1) 55%,
          rgba(73,167,182,1) 78%, rgba(69,162,183,1) 81%,
          rgba(66,160,183,1) 100%);
  color:white;
}

.plans-middle-box,
.onboard-box
{
  margin-top:4rem;
}


.connect-list > p:last-of-type
{
  margin-bottom:2rem;
}

.onboard-box > .card
{
  background: -webkit-linear-gradient(-45deg,
          rgba(135,91,217,1) 0%,
          rgba(151,88,210,1) 46%,
          rgba(162,87,205,1) 55%,
          rgba(171,85,200,1) 78%,
          rgba(175,84,198,1) 81%,
          rgba(181,84,196,1) 100%);
  color:white;
}

#twitter-cards{
  padding: 1rem;
}

.flex-twitter-cards
{
  display:flex;
  justify-content: center;
}

.flex-twitter-cards > .card-deck
{
  display:flex;
  flex-direction: column;
}

#twitter-cards img{
  max-width: 100%;
}

#twitter-cards .card-block
{
  border:1px solid #eee;
  border-radius:5px;
}

#twitter-cards .card-block > h4{
  text-transform: none;
}

#twitter-cards .card-block > p{
  font-size: 0.9rem;

}


#twitter-cards .card-block a{
  padding-left: 2rem;
}

#twitter-cards .card
{
  padding: 1.2rem 1rem 1rem;
  margin:1.5rem 0;
}

.avatar{
  margin-right:0.4rem;
  width: 36px;
  height: 36px;
}

.avatar-handle
{
  position:relative;
}

.avatar-handle h5 {
  display: inline;
  text-transform: none;
  position: absolute;
}

.avatar-handle > p
{
  position:absolute;
  left: 2.6rem;
  font-size: 0.8rem;
  top: 1.1rem;
}


.avatar-handle > i
{
  position:absolute;
  right:0;
  color:#1da1f2;
}


#twitter-cards .card > p
{
  margin-top:1rem;
  font-size: 0.8rem;
}

#twitter-cards .card > p > span
{
  display:block;
  color:#666;
  font-size:0.8rem;
}

.card-bottom
{
  padding-top:1rem;
  position:relative;
}

.card-bottom > a
{
  margin-right:0.7rem;
  color:#9e9e9e;
  font-size:0.8rem;
}

.card-bottom > a:hover
{
  text-decoration:none;
}

.card-bottom > a img
{
  max-height:15px;
  margin-right:0.3rem;
}

.card-bottom > img
{
  max-height: 15px;
  position: absolute;
  right: 0;
  margin-top: 0.6rem;
}

.card-bottom > a i
{
  margin-right:0.3rem;
  color:#9e9e9e;
}
