.hanging-main .chat-box > i
{
  height:100%;
  border-right:1px solid #dddddd;
  padding-top:15px;
  padding-right:1rem;
  color:#a9a9a9;
  position:absolute;
}

.hanging-main li.donut > p > i
{
  font-size:0.8rem;
}

.hanging-main p.sun > i:first-of-type
{
  margin-right:0.3rem;
  font-size:0.8rem;
  font-weight: bold;
}

.hanging-main p.sun > i:last-of-type
{
  margin-left:0.3rem;
  font-size:0.8rem;
  font-weight:bold;
}

.img-culture,
.ibm-coffee
{
  border-radius:5px;
}

.amp-text > blockquote, .ibm-text > blockquote
{
  margin:0.4rem 0;
  color:#666;
}

.amp-logo
{
  margin-bottom:0.6rem;
}



.testimonial-box blockquote {
  width:70%;
  font-weight:bold;
}

.testimonial-box blockquote:before {
  content:open-quote;
  position:absolute;
  top:35%;
  left:3%;
  color:#4cacb5;
  font-size:4rem;
}


.quote-box blockquote > span, .testimonial-box blockquote > span {
  display: block;
  margin-top:0.5rem;
}



.testimonial-box blockquote:after {
  content: close-quote;
  position:absolute;
  top:35%;
  right:8%;
  color:#4cacb5;
  font-size: 4rem;
}

.quote-box blockquote {
  width:70%;
  font-weight:bold;
}

#people-first .content-section > div > blockquote
{
  line-height: 1.2;
  font-size: 20px;
  margin-bottom:0.4rem;
}


#people-first .content-section > div > blockquote:before {
  content:open-quote;
  position:absolute;
  top:53%;
  left:24%;
  color:white;
  font-size:4rem;
  display:none;
}

#people-first .content-section > div > blockquote:after {
  content: close-quote;
  position:absolute;
  top:53%;
  right:25.5%;
  color:white;
  font-size: 4rem;
}