.main
{
    &-nav{
      display:flex;
      margin-left:auto;
      padding:0 0 0 0.8rem;
    }
    &-nav li
    {
      font-size:1rem;
      margin-right:0.8rem;
      align-self: center;
      text-align: center;
    }

    &-nav li:last-of-type
    {
      margin-left:0;
    }

    &-nav li > a
    {
      color:$navButton--background;
    }
}

.nav-visibility
{
  display:none;
}