.teams-content > h1
{
  text-transform:none;
  padding-top:20rem;
  font-size:3.2rem;
}

.amp-text > p, .ibm-text > p
{
  color:#999;
}

.amp-text
{
  margin-top: 2rem;
}

.invision .source-link {
  color: #cdcdcd;
}

.invision-box h3 {
  line-height:2.2rem;
}

#people-first h1
{
  font-size:3rem;
  letter-spacing:0.2rem;
  margin-bottom:0;
}

#people-first h2
{
  text-align: center;
  margin-bottom:2rem;
}

#people-first h1,h2{
  text-transform:none;
}


p.culture
{
  margin-bottom:2rem;
}

#people-first .content-section > div cite
{
  font-size:0.9rem;
  padding-left:1.2rem;
}

.waitlist
{
  margin-top:2rem;
}

.plans-box > h1 {
  margin-bottom: 2.5rem;
}