
//Style Links on Footer
%footer-links
{
  display:inline-block;
  text-decoration: none;
  color: $footer-links--color;
  font-size:1rem;
  margin-bottom:1.2rem;
}

%flex-center
{
  display: flex;
  align-items: center;
}